<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<section class="back mt-5 pt-3">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="border border-secondary mt-3 mb-5">
						<div class="card-header text-center bg-custom">
							<h3>Terms And Conditions</h3>
						</div>
						<!--all the termes and conditions can be changed later-->
						<div class="form-card">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">
								Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
								dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
								vestibulum at eros.
							</p>
							<p class="card-text">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
								lacus vel augue laoreet rutrum faucibus dolor auctor.
							</p>
							<p class="card-text">
								Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
								scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
								auctor fringilla.
							</p>
							<p class="card-text">
								Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
								in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
							</p>
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
								lacus vel augue laoreet rutrum faucibus dolor auctor.
							</p>
							<p class="card-text">
								Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
								scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
								auctor fringilla.
							</p>
							<p class="card-text">
								Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
								in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
							</p>
							<p class="card-text">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
								lacus vel augue laoreet rutrum faucibus dolor auctor.
							</p>
							<p class="card-text">
								Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
								scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
								auctor fringilla.
							</p>
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">
								Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
								in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
							</p>
							<p class="card-text">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
								lacus vel augue laoreet rutrum faucibus dolor auctor.
							</p>
							<p class="card-text">
								Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
								scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
								auctor fringilla.
							</p>
							<p class="card-text">
								Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
								in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
							</p>
							<p class="card-text">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
								lacus vel augue laoreet rutrum faucibus dolor auctor.
							</p>
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">
								Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
								scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
								auctor fringilla.
							</p>
							<p class="card-text">
								Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
								in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
							</p>
							<p class="card-text">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
								lacus vel augue laoreet rutrum faucibus dolor auctor.
							</p>
							<p class="card-text">
								Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
								scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
								auctor fringilla.
							</p>
							<a th:href="@{/new_user}" class="btn btn-success">Go to Signup page</a>
						</div>
						<div class="card-footer text-center bg-custom">
							Contacts
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>